---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching Interests</h2>

<h3>Introduction to Financial Accounting Research</h3>

<p><em>Graduate Level</em></p>

<p>
This course introduces graduate students to the foundations and development of financial accounting research, 
from early normative approaches to modern empirical research. Topics include the information role of accounting, 
capital market research, information processing, and emerging research areas such as social media and the public sector.
</p>

<p>
<a href="https://www.dropbox.com/scl/fi/atr8inysstzjzmxxg40b7/20260819_Teaching_demo_grad.pdf?rlkey=3wmcfgnotorwrupc494yzk8zz&st=cjx0bh8u&dl=0" target="_blank">Teaching Demo Slides</a>
</p>


<h3>Big Data and Business Analytics</h3>

<p><em>Undergraduate Level</em></p>

<p>
This course introduces students to the fundamental concepts and methods of big data and business analytics. 
Topics include data preprocessing, data mining, regression, classification, clustering, and other analytical 
techniques for extracting useful insights from large and complex data to support business decision-making.
</p>

<p>
<a href="https://www.dropbox.com/scl/fi/jy2iq3x86twgvrlby9dyg/20260820_Teaching_demo_under_bigdata.pdf?rlkey=rhfdr12c8grozjzxrrerc2t2e&st=74mfn9zl&dl=0" target="_blank">Teaching Demo Slides</a>
</p>


<h3>Introduction to Financial Accounting</h3>

<p><em>Undergraduate Level</em></p>

<p>
This course introduces students to the fundamental concepts and principles of financial accounting 
and the role of accounting information in business decision-making. Topics include financial reporting, 
accounting standards, and the preparation and interpretation of the major financial statements.
</p>

<p>
<a href="https://www.dropbox.com/scl/fi/4aw3tzt5jsrcwfz6q2df3/20260820_Teaching_demo_under_finacct.pdf?rlkey=lbuuvrgmsj0podkj0ai4aihte&st=ijefvojd&dl=0" target="_blank">Teaching Demo Slides</a>
</p>


<h2>Teaching Experience</h2>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
