---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching Interests</h2>

<h3>Business Analytics</h3>
<p>
<a href="DROPBOX_LINK_1" target="_blank">Teaching Demo Slides</a>
</p>

<h3>Data Mining and Machine Learning</h3>
<p>
<a href="DROPBOX_LINK_2" target="_blank">Teaching Demo Slides</a>
</p>

<h3>Artificial Intelligence for Business</h3>
<p>
<a href="DROPBOX_LINK_3" target="_blank">Teaching Demo Slides</a>
</p>

<h2>Teaching Experience</h2>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
